[requires]
python_version = '3.8'

[[source]]
name = 'pypi'
url = 'https://pypi.org/simple'
verify_ssl = true

[dev-packages]
black = '==19.10b0'
coverage = '==4.5.4'
pytest-cov = '==2.10.1'

[packages]
alembic = '==1.4.2'
aniso8601 = '==1.3.0'
bcrypt = '==3.1.4'
click = '==7.1.2'
enum-compat = '==0.0.2'
eventlet = '==0.21.0'
factory-boy = '==2.12.0'
flask = '==1.1.2'
flask-bcrypt = '==0.7.1'
flask-cors = '==3.0.8'
flask-migrate = '==2.1.1'
flask-restx = '==0.2.0'
flask-socketio = '==4.2.0'
flask-sqlalchemy = '==2.4.4'
flask-testing = '==0.8.0'
freezegun = '==0.3.15'
itsdangerous = '==1.1.0'
openid-connect = '==0.5.0'
psycopg2 = '==2.8.5'
python-dotenv = '==0.14.0'
python-slugify = '==4.0.1'
pytz = '==2020.1'
pandas = '==1.0.5'
six = '==1.14.0'
sqlalchemy = '==1.3.18'
sqlalchemy-migrate = '==0.7.2'
sqlalchemy-utils = '==0.36.6'
werkzeug = '==0.15.5'
vcrpy = '==4.0.2'
unidecode = '==1.1.1'
xlrd = '==1.2.0'

[scripts]
client = 'cd ../frontend/admin && npm start'
db_init = 'flask db init'
db_create = 'flask db: create'
db_drop = 'flask db: drop'
db_seed = 'flask db: seed'
db_migration = 'flask db migrate'
db_migrate = 'flask db upgrade'
start = 'flask run'
console = 'flask shell'
format = 'black manage.py app/ -S -t py38'
lint = 'black --check manage.py app/ -S -t py38'
tests = 'pytest app/tests'
test = 'pytest'
