[Unit]
Description=RDB frontend server
After=api.service

[Service]
Type=simple
User={{ os.user.name }}
Group={{ os.user.group }}
Restart=on-failure
WorkingDirectory={{ rdb.frontend_root_path }}/admin
EnvironmentFile={{ rdb.root_path }}/config/frontend.env
ExecStartPre=/bin/bash -c "/usr/bin/npm install && /usr/bin/npm run build"
ExecStart=/bin/bash -c "/usr/bin/serve -n -s -l 4000 build"
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rdb-frontend

[Install]
WantedBy=multi-user.target
